body {

    background-image: url(assets/fieltro/fieltro.jpg);
    background-repeat: no-repeat;
    background-size: 100%

    
    

   
}

/* styles.css */
.watermark {
    position: fixed; /* Fija la posición en la pantalla */
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta para centrar */
    background-image: url('assets/marca/marcaA.png'); /* Ruta a tu imagen */
    background-repeat: no-repeat;
    background-size: contain; /* Ajusta el tamaño automáticamente */
    width: 200px; /* Ajusta el ancho según sea necesario */
    height: 200px; /* Ajusta la altura según sea necesario */
     /* Controla la transparencia */
    pointer-events: none; /* Evita que interfiera con otros elementos */
    z-index: 1000; /* Asegura que esté en la capa superior */
  }
  